.root {
  overflow-x: hidden;
  
  .bar {
    background-color: #222021;
    position: relative;

    .logo {
      width: 72%;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }
  
  .drawer {
    background-color: #222021;
    width: 240px;

    .drawerHeader {
      display: flex;
      flex-direction: row;
      min-height: 56px;
      background-color: #222021;
      position: relative;
      padding-left: 4px;

      .clearButton {
        color: white;
        padding: 12px;
      }

      .logo {
        width: 72%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .drawerBody {
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: #222021;

      .items {
        .item {
          font-size: 48px;
          margin-bottom: 8px;

          &:first-child {
            margin-bottom: 4px;
          }
        }

        .menuItem {
          font-size: xx-large;
          font-family: "DINCond-Medium-Regular";
          margin-top: 8px;

          &:last-child {
            margin-bottom: 8px;
          }  
        }

        .menuRow {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .expandIcon {
            color: white;
          }
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        margin-top: 5%;

        .imageContainer {
          display: flex;
          height: 32px;
          width: 32px;
          margin-top: 20px;
          margin-bottom: 10px;
  
          .image {
            margin-top: auto;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            background-color: black;
          }
        }
      }

      .footer {
        display: flex;
        flex-direction: column;
        font-size: small;
      }
    }
  }
}