@import "src/variables";

.root {
  .gridContainer {
    // margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column-gap: 5vw;
    margin-bottom: $commonInternalMargin;
    .menu {
      // margin-bottom: 17px;
      // margin-bottom: 67px;
      margin-top: $commonInternalMargin;
      display: flex;
      flex-direction: column;
      .menuImage {
        width: 100%;
        object-fit: contain;
      }
  
      .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid;
  
        .titles {
          height: 36px;

          .title {
            font-size: medium;
            margin: 0;
            line-height: 1;
            // word-wrap: break-word;
            // overflow-wrap: break-word;
            // word-break: break-all 4;
            max-width: 100%;
            display: inline-block;
          }
  
          .subTitle {
            font-size: small;
            margin: 0;
            font-family: "DINCond-Medium-Regular";
          }
        }
  
        .price {
          min-width: 35px;
          text-align: right;
        }
      }
  
      .subSection {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid;
        
        .description {
          font-size: xx-small;
          font-family: "HelveticaNeue-Light";
        }
  
        .ingredients {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
  
          .ingredient {
            font-size: x-small;
            border: 1px solid;
            padding-left: 2px;
            padding-right: 2px;
            margin-right: 4px;
            padding-bottom: 0;
            margin-top: 4px;
          }
        }
      }
    }
  }

  // .menu:first-child,
  // .menu:nth-child(2) {
  //   margin-top: calc($commonInternalMargin * -1);
  // }
}

@media (min-width: 768px) {
  .root {
    .gridContainer {
      .menu {
        .main {
          .titles {
            height: 68px;
            
            .title {
              font-size: 28px;
              line-height:1.15;

            }
    
            .subTitle {
              font-size: x-large;
            }
          }
    
          .price {
            font-size: xx-large;
            min-width: 80px;
          }
        }
    
        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: medium;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .root {
    .gridContainer {

      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-column-gap: 3vw;
      margin-bottom: $commonInternalMargin;

      // display: flex;
      // flex-wrap: wrap;
      // justify-content: flex-start;
      // grid-column-gap: 0;

      .menu {
        // width: 29%;
        flex-basis:15%;
        // margin: 3%;

        .main {
          .titles {
            height: 48px;
            
            .title {
              font-size: 1.28em;
            }
    
            .subTitle {
              font-size: 1.28em;
              white-space: nowrap;
            }
          }

          .price {
            font-size: 1.28em;
          }
        }

        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 1200px) {
  .root {
    .gridContainer {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: flex-start;
      // grid-column-gap: 0;
      // display: grid;
      // grid-template-columns: repeat(3, minmax(100px, 1fr));
      // grid-column-gap: 5vw;
      // margin-bottom: $commonInternalMargin;


      .menu {
        // width:29%;
        flex-basis:27%;

        .main {
          .titles {
            height: 48px;
            
            .title {
              font-size: 1.28em;
            }
    
            .subTitle {
              font-size: 1.28em;
              white-space: nowrap;
            }
          }

          .price {
            font-size: 1.28em;
          }
        }

        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}