@import "src/variables";

.root {
    .gridContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5vw;
      // grid-auto-rows: minmax(100px, auto);

      .menu {
        // margin-bottom: 2 * $commonMargin;
        // margin-bottom: 33px;
        &:not(:last-child) {
          margin-bottom: 33px;
        }

        // border-bottom: 1px solid;

        .main {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid;
          

          .title {
            font-size: medium;
            margin: 0;
          }
        }
  
        .subSection {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          border-bottom: 1px solid;
          height: 48px;
          
          .description {
            font-size: xx-small;
            font-family: "HelveticaNeue-Light";
          }
  
          .ingredients {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
  
            .ingredient {
              font-size: x-small;
              border: 1px solid;
              padding-left: 1%;
              padding-right: 1%;
              margin-right: 4px;
              padding-bottom: 0;
            }
          }
        }
      }
  }
}

@media (min-width: 768px) {
  .root {
    .gridContainer {
      margin-top: 30px;
      margin-top: $commonMarginIpad;

      .menu {
        margin-bottom: $commonMarginIpad;

        .main {
          // margin-top: 24px;

          .titles {

            .title {
              font-size: xx-large;
            }
          }

          .price {
            font-size: xx-large;
          }
        }
  
        .subSection {
          height: 64px;
          
          .description {
            font-size: small;
          }
  
          .ingredients {
  
            .ingredient {
              font-size: medium;
            }
          }
        }
      }
    }
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .root {
    .gridContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-column-gap: 0;
      width: 60%;
      align-items: center;
      margin: auto;

      .menu {
        width: 32%;
        margin: 3%;

        .main {
          .titles {
            .title {
              font-size: 1.28em;
            }
    
            .subTitle {
              font-size: 1.28em;
              white-space: nowrap;
            }

            .price {
              font-size: 1.28em;
            }
          }
        }

        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}