@import "src/variables";

.root {
    .gridContainer {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-column-gap: 5vw;
      margin-bottom: $commonInternalMargin * 2;

      .menu {
        margin-top: $commonInternalMargin;
        display: flex;
        flex-direction: column;

        .main {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid;
          
          .titles {

            .title {
              font-size: medium;
              margin: 0;
            }
          }


        }
  
        .subSection {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-bottom: 1px solid;
          margin-top: 8px;
          padding-bottom: 8px;
          height: 100%;
          
          .description {
            font-size: xx-small;
            font-family: "HelveticaNeue-Light";
          }
  
          .ingredients {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
  
            .ingredient {
              font-size: x-small;
              border: 1px solid;
              // padding-left: 1%;
              // padding-right: 1%;
              padding-left: 2px;
              padding-right: 2px;
              margin-right: 4px;
              padding-bottom: 0;
              margin-top: 4px;
            }
          }
        }
      }
  }
}

@media (min-width: 768px) {
  .root {
    .gridContainer {
      margin-bottom: $commonMarginIpad * 2;

      .menu {
        margin-top: $commonMarginIpad;

        .main {

          .titles {

            .title {
              font-size: 28px;
              line-height:1.15;
            }
          }

          .price {
            font-size: xx-large;
          }
        }
  
        .subSection {
          height: 80px;
          
          .description {
            font-size: small;
          }
  
          .ingredients {
  
            .ingredient {
              margin-top: 8px;
              font-size: medium;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .root {
    .gridContainer {

      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-column-gap: 3vw;

      .menu {
        .main {
          .titles {
            
            .title {
              font-size: 1.28em;
            }
    
            .subTitle {
              font-size: 1.28em;
              white-space: nowrap;
            }
          }

          .price {
            font-size: 1.28em;
          }
        }

        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .root {
    .gridContainer {

      .menu {
        .main {
          .titles {
            .title {
              font-size: 1.28em;
            }
    
            .subTitle {
              font-size: 1.28em;
              white-space: nowrap;
            }

            .price {
              font-size: 1.28em;
            }
          }
        }

        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}