.root {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column-gap: 5vw;

    .menu {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      .menuImage {
        width: 100%;
        object-fit: contain;
      }
  
      .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid;
  
        .titles {
          height: 36px;

          .title {
            font-size: medium;
            margin: 0;
            line-height: 1;
          }
  
          .subTitle {
            font-size: small;
            margin: 0;
            font-family: "DINCond-Medium-Regular";
          }
        }
  
        .price {
          min-width: 35px;
          text-align: right;
        }
      }
  
      .subSection {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid;
        
        .description {
          font-size: xx-small;
          font-family: "HelveticaNeue-Light";
        }
  
        .ingredients {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
  
          .ingredient {
            font-size: x-small;
            border: 1px solid;
            padding-left: 2px;
            padding-right: 2px;
            margin-right: 4px;
            padding-bottom: 0;
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .root {
    .gridContainer {
      .menu {
        .main {
          .titles {
            height: 68px;
            
            .title {
              font-size: xx-large;
            }
    
            .subTitle {
              font-size: x-large;
            }
          }
    
          .price {
            font-size: xx-large;
            min-width: 80px;
          }
        }
    
        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: medium;
            }
          }
        }
      }
    }
  }
}

@media (min-aspect-ratio: 4 / 3) and (min-width: 1024px) {
  .root {
    .gridContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-column-gap: 0;

      .menu {
        width: 27%;
        margin: 3%;

        .main {
          .titles {
            height: 48px;
            
            .title {
              font-size: 1.28em;
            }
    
            .subTitle {
              font-size: 1.28em;
              white-space: nowrap;
            }
          }

          .price {
            font-size: 1.28em;
          }
        }

        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}


@media (min-aspect-ratio: 4 / 3) and (min-width: 1200px) {
  .root {
    .gridContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-column-gap: 0;

      .menu {
        width: 21%;
        margin: 2%;

        .main {
          .titles {
            height: 48px;
            
            .title {
              font-size: 1.28em;
            }
    
            .subTitle {
              font-size: 1.28em;
              white-space: nowrap;
            }
          }

          .price {
            font-size: 1.28em;
          }
        }

        .subSection {          
          .description {
            font-size: small;
          }
    
          .ingredients {
            .ingredient {
              margin-top: 8px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}