.root {
    .gridContainer {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5vw;
      grid-auto-rows: minmax(100px, auto);

      .menu {
        .main {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
  
        .subSection {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 48px;
          
          .description {
            font-size: xx-small;
            font-family: "HelveticaNeue-Light";
          }
  
          .ingredients {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
  
            .ingredient {
              font-size: x-small;
              border: 1px solid;
              padding-left: 1%;
              padding-right: 1%;
              margin-right: 4px;
              padding-bottom: 0;
            }
          }
        }
      }
  }
}

@media (min-width: 768px) {
  .root {
    .gridContainer {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5vw;
      grid-auto-rows: minmax(100px, auto);

      .menu {
        .main {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 24px;

          .titles {
            font-size: xx-large;
    
            .subTitle {
              font-size: large;
              font-family: "DINCond-Medium-Regular";
              font-size: x-large;
            }
          }
        }
  
        .subSection {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 64px;
          
          .description {
            font-size: small;
            font-family: "HelveticaNeue-Light";
          }
  
          .ingredients {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
  
            .ingredient {
              font-size: medium;
              border: 1px solid;
              padding-left: 1%;
              padding-right: 1%;
              margin-right: 4px;
              padding-bottom: 0;
            }
          }
        }
      }
  }
}
}