.subTitle {
  font-size: 24px;
  font-family: "DINCond-Medium-Regular";
}

@media (min-width: 768px) {
  .subTitle {
    font-size: 44px;
  }
}

@media (min-aspect-ratio: 4 / 3) {
  .subTitle {
    font-size: medium;
  }
}

@media (min-width: 1024px) {
  .subTitle {
    font-size: 32px;
  }
}