.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .date {
    width: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    padding-bottom: 4px;

    .dayOfWeek {
      font-size: small;
      font-family: "DINCond-Medium-Regular";
    }
  }

  .title {
    width: 40%;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    font-size: large;
  }

  .details {
    width: 42%;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    padding-bottom: 4px;

    .time {
      font-size: small;
      font-family: "DINCond-Medium-Regular";
    }
    
    .location {
      font-size: x-small;
      display: flex;
      flex-direction: row;

      .locationIcon {
        padding-top: 1px;
      }
    }
  }
}

@media (min-width: 768px) {
  .root {
    .date {
      width: 92px;

      .dayOfWeek {
        font-size: x-large;
      }

      .monthAndDate {
        font-size: xx-large;
      }
    }

    .title {
      font-size: x-large;
    }

    .details {
      .time {
        font-size: large;
      }

      .location {
        font-size: medium;
      }
    }
  }
}