body {
  margin: 0;
  font-family: "DINCond-BoldRegular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(28,27,26,255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'DINCond-BoldRegular';
  src: local('DINCond-BoldRegular'), url(./asset/font/DINCond-BoldRegular.otf) format('truetype');
}